<style>
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

<%= form_with(model: notecollection, local: true) do |form| %>
  <% if notecollection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notecollection.errors.count, "error") %> prohibited this notecollection from being saved:</h2>

      <ul>
      <% notecollection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name %>
    <%= form.text_field :name, id: :notecollection_name, :class => "form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :notecollection_comment , :class => "form-control"%>
  </div>

  <div class="form-group row">
  <%= collection_check_boxes(:notecollection, :note_ids, @note, :id, :text, :class => "form-control") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
