<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Note collections</h2>
        <h3 class="section-subheading text-muted">List of your note collections(created and shared with you).</h3>
        <%if !current_user.admin?%>
        <%= link_to 'New Note collections', new_notecollection_path , :class => "btn" %>
        <% end %>
      </div>
    </div>
    <div class="row">
    <% @notecollections.each do |notecollection| %>


      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#notecollection<%= notecollection.id %>">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag("folder.jpg", :alt => "",  size: "210") %>
        </a>
        <div class="portfolio-caption">
          <h4><%= notecollection.name %></h4>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% @notecollections.each do |notecollection| %>
<div class="portfolio-modal modal fade" id="notecollection<%= notecollection.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->

              <p class="item-intro text-muted"><h3>Note collection</h3></p>
                  <img class="img-fluid" src="app/assets/images/folder.jpg" alt="">
              <ul class="list-inline">
                <li><%= link_to 'Show', notecollection %></li>
                <li><%= link_to 'Edit', edit_notecollection_path(notecollection) %></li>
                <%if !current_user.admin?%>
                <li><%= link_to 'Share', new_sharing_notecollection_path(notecollection)  %></li>
                <% end %>
                <li><%= link_to 'Destroy', notecollection, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close note collection</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
