<!DOCTYPE html>
<html>
  <head>
    <title>SocialNote</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= image_path('icons/favicon.svg')%>"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<% if user_signed_in? %>
  <nav class="navbar navbar-dark bg-dark">
      <%= link_to 'Profile', user_path(current_user), class: "nav-item nav-link" %>
  <%= link_to 'Note', notes_path, class: "nav-item nav-link" %>
  <%= link_to 'Note collections', notecollections_path, class: "nav-item nav-link" %>

 <%= link_to 'Users', users_path, class: "nav-item nav-link" %>
  <%if current_user.admin?%>
     <%= link_to 'Friendships', friendships_path, class: "nav-item nav-link" %>
  <%end %>

 <%= link_to 'Logout', destroy_user_session_path, method: :delete , class: "nav-item nav-link"%>
</nav>
<% end %>
    <%= yield %>
  </body>
</html>
